<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">2014SIEtf</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost/Tim1?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=UTF-8</property>
  <property name="hibernate.connection.username">EtfSI2014</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <mapping class="ba.unsa.etf.si.projekt.Klase.Materijal"/>
  <mapping class="ba.unsa.etf.si.projekt.Klase.Radnik"/>
  <mapping class="ba.unsa.etf.si.projekt.Klase.Osoba"/>
  <mapping class="ba.unsa.etf.si.projekt.Klase.Menadzer"/>
  <mapping class="ba.unsa.etf.si.projekt.Klase.Sastavnica"/>
  <mapping class="ba.unsa.etf.si.projekt.Klase.ObrisaniMaterijal"/>
  <mapping class="ba.unsa.etf.si.projekt.Klase.Klijent"/>
  <mapping class="ba.unsa.etf.si.projekt.Klase.Proizvod"/>
  <mapping class="ba.unsa.etf.si.projekt.Klase.Narudzbenica"/>
  <mapping class="ba.unsa.etf.si.projekt.Klase.ProizvodMaterijalPrelaz"/>
  <mapping class="ba.unsa.etf.si.projekt.Klase.StavkaNarudzbenice"/>
  <mapping class="ba.unsa.etf.si.projekt.Klase.StavkaSastavnice"/>
 </session-factory>
</hibernate-configuration>
